@using Team404.Models;
@model PowerSupplyVM;

@{
    ViewData["Title"] = "Power Supply";
}
<h2>@ViewData["Title"]</h2>

@foreach (var PS in Model.PowerSupplyItems)
{
    <div class="item">
        <h4>@PS.ItemTitle</h4>
        <h2>@PS.ItemPrice</h2>
        <div class="minidescription">
            <ul>
                @foreach (var bp in PS.MiniDescription)
                {
                    <li>@bp</li>
                }
            </ul>
            <button class="Link"> @PS.ItemLink </button>
        </div>
    </div>
}