@using Team404.Models;
@model SoundCardsVM;

@{
    ViewData["Title"] = "Sound Cards";
}
<h2>@ViewData["Title"]</h2>

<h3>Sound Cards</h3>

@foreach (var SC in Model.SoundCardsItems)
{
    <div class="item">
        <h4>@SC.ItemTitle</h4>
        <h2>@SC.ItemPrice</h2>
        <div class="minidescription">
            <ul>
                @foreach (var bp in SC.MiniDescription)
                {
                    <li>@bp</li>
                }
            </ul>
            <button class="Link"> @SC.ItemLink </button>
        </div>
    </div>
}
