@using Team404.Models;
@model VideoCardsVM;

@{
    ViewData["Title"] = "Video Cards";
}
<h2>@ViewData["Title"]</h2>

@foreach (var VC in Model.VideoCardsItems)
{
    <div class="item">
        <h4>@VC.ItemTitle</h4>
        <h2>@VC.ItemPrice</h2>
        <div class="minidescription">
            <ul>
                @foreach (var bp in VC.MiniDescription)
                {
                    <li>@bp</li>
                }
            </ul>
            <button class="Link"> @VC.ItemLink </button>
        </div>
    </div>

}