@using Team404.Models;
@model PhonesVM;

@{
    ViewBag.Title = "Head Phones";
}

<h1>@ViewBag.Title</h1>

@foreach (var P in Model.PhonesItems)
{
    <div class="item">
        <h4>@P.ItemTitle</h4>
        <h2>@P.ItemPrice</h2>
        <div class="minidescription">
            <ul>
                @foreach (var bp in P.MiniDescription)
                {
                    <li>@bp</li>
                }
            </ul>
            <button class="Link"> @P.ItemLink </button>
        </div>
    </div>
}